.header-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
}

.logo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
   
}
.comp-name{
    margin-left: 15px;
    font-size: 20px;
}

.logo-img{
    width: 100px;
}

.nav-items{
    display: flex;
    list-style: none;
    font-size: 20px;
}
.nav-items > li{
    padding-left: 20px;
    padding-right: 25px;
}